.main-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-container img{
    margin: 3px;
    border-radius: 10px;
    width: 200px;
    height: auto;
    transition: 0.4s ease;
}
.gallery-container img:hover{
    transform: scale(1.01);
}

.img-info{
    padding: 0;
}
.img-info span{
    width: 100%;
    height: auto;
    font-size: 10px;
    font-weight: 700;
    background-color: black;
    color: yellow;
    padding: 2px;
    border-radius: 5px;
} 
